extends index.pug

block content
  section.home
    article#comment
      form#comment-form(action="/comments/" method="post")
        h1 Thanks!
        .inputcomment.itemdetail Your message below has been registered:
        .item-container.comment
          .itemdetail.name
            label.label Name:
            .data #{comment.name}
          .itemdetail.date
            label.label Date:
            - let epoc = new Date(Date.parse(comment.createdAt))
            - let commentDate = epoc.toLocaleString()
            .data #{commentDate}
          .itemdetail.message
            label.label Message:
            .data #{comment.text}
        .inputcomment.itemdetail Thanks again for commenting. 
        .inputcomment.itemdetail
          a.btn(href='/') Home

