extends index.pug

block aside
  aside.sidebar
    article.domainactions 
      h2 Domain Actions
      .actions.secondary
        input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm" form="domain-edit")
        a.btn.cancel(href="/domains/" + domain.id) Cancel

block content
  section.domainedit
    article.main
      h2 Edit Domain
      div
        form#domain-edit(action="/domains/" + domain.id + "/" method="post")
          input(id="id" type="hidden" name="id" value=domain.id)
          .itemdetail.inputdomainname
            label.label(for="name") Name:
            .data 
              input#name(type="text" name="name" value=domain.name)
          .itemdetail.inputdomaindescription
            label.label(for="description") Description:
            .data
              input#description(type="text" name="description" value=domain.description)
          .itemdetail.inputdomainurn
            label.label(for="urn") Short Name:
            .data
              input#urn(type="text" name="urn" placeholder="short name for domain" value=domain.urn pattern="[^! %/\*]{6,}")
          .itemdetail.inputdomainpublic
            label.label Public:
            .data
              input#public.hidden(type="checkbox" name="public" value="true" checked=!!(domain.public))
              label.togglepublicfalse(for="public")
                i.material-icons.toggle.toggleoff toggle_off
              label.togglepublictrue(for="public")
                i.material-icons.toggle.toggleon toggle_on
