extends index.pug

block aside
  aside.sidebar
    .title Domain Actions
    .nav
      .navitem One item
      .navitem Two 
      .navitem Three
    .actions.secondary
      label.label Actions
      .data.layout-row
        input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm" form="domain-edit")
        a.btn.cancel(href="/domains/" + domain.id) Cancel

block content
  section.domainedit
    article.main
      .hdg.hdg-1 Edit Domain
      div
        form#domain-edit(action="/domains/" + domain.id + "/" method="post")
          input(id="id" type="hidden" name="id" value=domain.id)
          .inputdomainname.itemdetail
            label.label(for="name") Name:
            .data 
              input#name(type="text" name="name" value=domain.name)
          .inputdomaindescription.itemdetail
            label.label(for="description") Description:
            .data
              input#description(type="text" name="description" value=domain.description)
          .inputdomainurn.itemdetail
            label.label(for="urn") Short Name:
            .data
              input#urn(type="text" name="urn" placeholder="short name for domain" value=domain.urn pattern="[^! %/\*]{6,}")
          .inputdomainpublic.itemdetail
            label.label Public:
            .data
              input#public.hidden(type="checkbox" name="public" value="true" checked=!!(domain.public))
              label.togglepublicfalse(for="public")
                i.material-icons.toggle.toggleoff toggle_off
              label.togglepublictrue(for="public")
                i.material-icons.toggle.toggleon toggle_on
    //- article.secondary
    //-   .hdg.hdg-1 Domain Actions
    //-   .domainsubmit.itemdetail
    //-     label.label Actions
    //-     .data.layout-row
    //-       input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm")
    //-       a.btn.cancel(href="/domains/" + domain.id) Cancel
    //-   .description
    //-     .infotext.hdg.hdg-3 Edit Domain View
    //-     .infotext You can edit a domain with this view.
    //-     .infotext Modify the details for the domain.
    //-     .infotext.hdg.hdg-3 Name
    //-     .infotext Enter the user's email address here. This should be a valid email address
    //-     .infotext.example
    //-       .infotext.heading Examples:
    //-       .infotext tommy@test.com
    //-     .infotext.important This is a required field.
