extends index.pug

block aside
  aside.sidebar
    article.domainactions
      h2 Actions
      //- .actions.secondary
      //-   .domainsubmit.itemdetail
      //-     label.label(for="submit") Submit:
      //-     .data
      input#submit.btn.normal.buttonconfirm(form="create-domain-form" type="submit" value="Confirm")
      a.btn.cancel.buttoncancel(href="/domain/") Cancel
    +list-user-domains("Domains")
    +create-or-see-domains("Domain")


block content
  section.createdomain
    article.main
      h2 Create Domain
      form#create-domain-form.create-domain-form(action="/domains/" method="post")
        .inputdomainname.itemdetail
          label.label(for="name") Domain Name:
          .data
            input#name(type="text" name="name" placeholder="name of domain" autofocus pattern="[0-9A-Za-z- ]{6,}")
        .inputdomaindescription.itemdetail
          label.label(for="description") Description:
          .data
            input#description(type="text" name="description" placeholder="description of domain")
        .inputdomainurn.itemdetail
          label.label(for="urn") Short Name:
          .data
            input#urn(type="text" name="urn" placeholder="short name for domain" pattern="[^! %/\*]{6,}")
        .inputdomainpublic.itemdetail
          label.label Public:
          .data
            input#public.hidden(type="checkbox" name="public" value="true")
            label.togglepublicfalse(for="public")
              i.material-icons.toggle.toggleoff(alt="off") toggle_off
            label.togglepublictrue(for="public")
              i.material-icons.toggle.toggleon(alt="on") toggle_on

block scripts
  script(src='/js/domainscreate.js')



