extends index.pug

block aside
  aside.sidebar
    .sticky-50.flexy-column
      article.domainactions
        h2 Domain Actions
        .actions.secondary
          #domain_add_button_container.addrole.authUI(data-fetch="domain_add" data-href="/actions/create/domains/")

block content
  section.domain
    article.main
      include domains-list
