extends index.pug

block aside
  aside.sidebar
    .title Sidebar?
    .nav
      .navitem Something
      .navitem Related to
      .navitem Users?
    .actions.secondary
      label.label Actions:
      .data.layout-row
        input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm")
        a.btn.cancel(href="/domains/") Cancel

block content
  .layout-col
    h1 Domain: #{domain.name}
    .layout-row.layout-width-1-1
      .user-listing.layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
        label.label Users:
        each role in domain.roles
          each user in role.users
            .itemdetail.layout-col
              label.label(for="domainname") Name:
              .data #{user.fullname} (#{role.name})
            .itemdetail.layout-col
              label.label(for="domaindescription") Email:
              .data #{user.email}
