extends index.pug

block aside
  aside.sidebar
    .sticky-50.flexy-column
      article.noteactions
        h2 File Actions
        .actions.secondary
          #file_add_button_container.addfile.authUI(data-fetch="file_add" data-href="/actions/create/files/")

block content
  section.files
    article.main
      - let filesCount = (files) ? files.length : 0
      if(filesCount)
        h2 Files 
        +list-files(files)
