extends index.pug

block aside
  aside.sidebar
    article.fileactions
      h2 File Actions
      .actions.secondary
        input#upload.btn.normal.buttonconfirm(type="submit" value="Upload" form="file-create")
        a.btn.cancel.buttoncancel(href="/files/") Cancel

block content
  section.files
    article.main
      h2 Upload File
      form#file-create.create-file-form(action="/files/" method="post" encType="multipart/form-data")
        input(id="user" type="hidden" name="userId" value=user.id)
        .inputfile.itemdetail
          label.label(for="file") File:
          input#file(type="file" name="uploadfile")
        .inputfiledescription.itemdetail
          label.label(for="description") Description:
          input#description(type="text" name="description" placeholder="Description of the note")
        .inputfilepublic.itemdetail
          label.label Visibility:
          .data
            input#public.hidden(type="checkbox" name="public" value="true")
            label.togglepublicfalse(for="public")
              i.material-icons.toggle.toggleoff toggle_off
            label.togglepublictrue(for="public")
              i.material-icons.toggle.toggleon toggle_on
        .inputfiledomain.itemdetail
          label.label Domain:
          .data
            +select-domains(domains,user.defaultDomainId)
