head
  title= title
  meta(name="viewport" content="width=device-width,initial-scale=1")
  link(rel="stylesheet" media="all" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=KoHo|Rajdhani")
  link(rel="stylesheet" media="all" href="/css/normalize.css")
  link(rel="stylesheet" media="all" href="/css/laminar.css")
  script(src="/js/laminar.js")
