//- link(rel="stylesheet" media="all" href="/css/your_special_css.css")
//- Date-Time picker here:
//- link(rel="stylesheet" media="screen" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
//- script(src="https://cdn.jsdelivr.net/npm/flatpickr")
//- script(src="/socket.io/socket.io.js")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
script(src="https://cdn.jsdelivr.net/npm/flatpickr")
script(src='/js/laminar.js')

