extends index.pug

block aside
  aside.sidebar
    .sticky-50.flexy-column
      if(user)
        +list-user-invites()
        article#links
          .hdg.hdg-2 Links
          .item
            a.documentlink(href="/notes") Notes
          .item
            a.documentlink(href="/files") Files
          .item
            a.documentlink(href="#features") Documentation
        article#notes
          include notes-list
        +list-user-domains("Domain")
        +create-or-see-domains("Domain")
      if(!user)
        article#links
          .hdg.hdg-2 Links
          .item
            a.documentlink(href="#features") Features
          .item
            a.documentlink(href="#tryit") Try It
          .item
            a.documentlink(href="#features") Get Started
          .item
            a.documentlink(href="#features") Documentation
        article#getstarted
          .hdg.hdg-2 Get Started!
          +login-or-register("Login with your account to begin using your cool app!","Register with your email address to create an account.")

block content
  section
    article#herowelcome
      //- .mainwelcome Welcome to
      .mainlogo
        img(src="/files/laminar_logo.png")
      .maintitle
        span.applaminar Laminar
        span.plain .
        span.apponboard OnBoard
      .mainblurb Lean,&nbsp;&nbsp;Secure&nbsp;&nbsp;Application&nbsp;&nbsp;Framework
    article#features
      .hdg.hdg-1 Laminar.OnBoard is the easiest, fastest way to build secure, collaborative web applications.
      .hdg.hdg-3 Laminar.OnBoard helps you build websites and applications using Node, Express and any database backend you want.
      .feature.hdg.hdg-3 Check out these features:
      .app-features
        div.feature
          div.heading
            i.material-icons.big-icon folder
            | Express.js
          div.description Need custom features for your web application? It's easy to add new super-powers to your apps with Laminar.OnBoard. That's because we use Express.js - the de-facto standard middleware-server for Node.js.
        div.feature
          div.heading
            i.material-icons.big-icon people
            | Sequelize.js
          div.description Laminar.OnBoard uses Sequelize.js, the most powerful ORM for Node.js. This means you can use just about any SQL backend you want: Postgres, MySQL, MariaDB, SQLite and even Microsoft SQL Server.
        div.feature
          div.heading
            i.material-icons.big-icon receipt
            | SASS and Pug
          div.description Style it your way! Laminar.OnBoard uses SASS so its easy to modify the look of Laminar to match your very own style. And Pug templates make it easy to present your stuff the way you want.
        div.feature
          div.heading
            i.material-icons.big-icon security
            | Security Baked-In
          div.description Everything's secure! Your web app is locked-down and sealed tight by default. Only you and your collaborators can see your data.
        div.feature
          div.heading
            i.material-icons.big-icon code
            | Open source
          div.description Laminar.OnBoard is opensource and steadily improving. All of our code is maintained on GitHub. Merge requests are always welcome!
        div.feature
          div.heading
            i.material-icons.big-icon store
            | Indie-Web Ready
          div.description Be the master of your own data! You don't need to rely on the giant Internet silos to access your own data. Laminar.OnBoard allows you to host your own data on your own servers, either on-prem or in the cloud.

    article#tryit
      .hdg.hdg-1 Go ahead and try Laminar.OnBoard for yourself.
      .hdg.hdg-3 Actually, you already are! This whole website is running on Laminar.OnBoard.

    article#welcome
      if(user)
        .hdg.hdg-2 Welcome, #{user.email}!
        .app-features
          div.feature
            div
              i.material-icons.big-icon folder
            div This is your front page. Now that you are logged-on let's begin!
          div.feature
            div
              i.material-icons.big-icon people
            div Create or invite users to collaborate with you in your domains. Those users can create their own domains of data too.
          div.feature
            div
              i.material-icons.big-icon receipt
            div You can create notes and other pieces of data in your domains. Notes are visible by all users that are collaborating with you in your domains.
          div.feature
            div
              i.material-icons.big-icon security
            div Everything's secure! Your web app is locked-down and sealed tight by default. Only you and your collaborators can see your data.
      else
        .hdg.hdg-2 It Works!
        .app-features
          div.feature
            div
              i.material-icons.big-icon folder
            div This is your front page. When you're logged-in you'll get access to you domains. Domains are groupings of similar data. Use domains like filling cabinets.
          div.feature
            div
              i.material-icons.big-icon people
            div Create or invite users to collaborate with you in your domains. Those users can create their own domains of data too.
          div.feature
            div
              i.material-icons.big-icon receipt
            div You can create notes and other pieces of data in your domains. Notes are visible by all users that are collaborating with you in your domains.
          div.feature
            div
              i.material-icons.big-icon security
            div Everything's secure! Your web app is locked-down and sealed tight by default. Only you and your collaborators can see your data.

