extends index.pug

block aside
  aside.sidebar
    .title Sidebar?
    .nav
      .navitem One item
      .navitem Two 
      .navitem Three
    .nav
      if(user)
        +list-user-invites()
        article#notes
          include notes-list
        +list-user-domains("Domain")
        +create-or-see-domains("Domain")
      if(!user)
        if(notes && notes.length>0)
          article
            include notes-list
        article#getstarted
          .hdg.hdg-2 Get Started!
          +login-or-register("Login with your account to begin using your cool app!","Register with your email address to create an account.")

block content
  section.home
    article#welcome
      .hdg.hdg-1 Congrats! Here's your awesome web app.
      if(user)
        .hdg.hdg-2 Welcome, #{user.email}!
        .app-features
          div
            div
              i.material-icons.big-icon folder
            div This is your front page. Now that you are logged-on let's begin!
          div
            div
              i.material-icons.big-icon people
            div Create or invite users to collaborate with you in your domains. Those users can create their own domains of data too.
          div
            div
              i.material-icons.big-icon receipt
            div You can create notes and other pieces of data in your domains. Notes are visible by all users that are collaborating with you in your domains.
          div
            div
              i.material-icons.big-icon security
            div Everything's secure! Your web app is locked-down and sealed tight by default. Only you and your collaborators can see your data.
      else
        .hdg.hdg-2 It Works!
        .app-features
          div
            div
              i.material-icons.big-icon folder
            div This is your front page. When you're logged-in you'll get access to you domains. Domains are groupings of similar data. Use domains like filling cabinets.
          div
            div
              i.material-icons.big-icon people
            div Create or invite users to collaborate with you in your domains. Those users can create their own domains of data too.
          div
            div
              i.material-icons.big-icon receipt
            div You can create notes and other pieces of data in your domains. Notes are visible by all users that are collaborating with you in your domains.
          div
            div
              i.material-icons.big-icon security
            div Everything's secure! Your web app is locked-down and sealed tight by default. Only you and your collaborators can see your data.
    //- if(user)
    //-   +list-user-invites()
    //-   article#notes
    //-     include notes-list
    //-   +list-user-domains("Domain")
    //-   +create-or-see-domains("Domain")
    //- if(!user)
    //-   if(notes && notes.length>0)
    //-     article
    //-       include notes-list
    //-   article#getstarted
    //-     .hdg.hdg-2 Get Started!
    //-     +login-or-register("Login with your account to begin using your cool app!","Register with your email address to create an account.")
