doctype html
html
  include head.pug
  include headoptions.pug
  body.header-static.footer-static.layout-align-center
    include navigation.pug
    #main.content.layout-height-1-1.layout-width-1-1.layout-col.layout-align-center
      include messages.pug
      block content
    block scripts
  include foot.pug