extends index.pug

block content
  section.layout-col
    h1 Accept Invitation
    .item-listing.layout-col 
      .congrats Congrats! You've accepted the invitation to join the domain. Re-log in to see your new domain.

