extends index.pug

block aside
  aside.sidebar
    .sticky-50.flexy-column
      article.inviteactions

block content
  section.invites
    article.main
      .hdg.hdg-2.invitelist Invites (#{invites.length})
      .item-listing
        each invite in invites
          .item
            .itemhead
              | New Invite
              i.material-icons.badge card_giftcard
            if(invite.comment)
              .itemdetail
                label.label 
                  span.bold #{invite.fromEmail}
                  | &nbsp;says:
                .data "#{invite.comment}"
            .itemdetail
              label.label Date
              .data #{invite.updatedAt}

            //- .itemdetail
            //-   label.label Note 
            //-   .data You've probably received notification about this invitation. If not you can ignore it for now.
            .itemdetail
              a.btn.btn-small.primary.layout-width-1-2(href= "/invites/" + invite.roleAppid + "/" )
                i.material-icons check_circle_outline
                span Accept Invite
            .itemdetail
              a.btn.btn-small.tertiary.layout-width-1-2(href= "/invites/" + invite.roleAppid + "/" )
                i.material-icons highlight_off
                span Decline Invite
