extends index.pug

block content
  section.invitationaccept
    article.main
      h2 Accept Invitation
      .item-listing 
        .congrats Congrats! You've accepted the invitation to join the domain. Re-log in to see your new domain.

