extends index.pug

block content
  section.home
    article#login
      form#login-form(action="/login/" method="post")
        input#secretsauce(type="hidden" name="secretsauce" value=secretSauce)
        //- .hdg.hdg-1 Sign In
        h1 Sign In
        .forminput
          input#email(type="text" name="email" placeholder="email address" autofocus)
        .forminput
          input#password(type="password" name="password" placeholder="passphrase")
        .forminput
          input#submit.btn.normal(type="submit" value="Go")
        div Not a user?&nbsp;
          a(href="/register/") Register here.

block scripts
  script(src='/js/bcrypt.min.js')
