.messages
  - let numMessages = messages.length;
  if numMessages>0
    .section-hdg.section-hdg-1 Messages: #{numMessages}

    .item-listing
      .itemsidebar
        i.material-icons.item-icon message
      .itemcontent
        each message in messages
          - let messageClass = "msg-" + message.type;
          - let messageText = message.text;
          .msg.messageClass(id="msg" + message.msgId)
            .itemdetail
              .label Message:
              .data #{messageText}
            .itemdetail
              i.material-icons.item-icon.clickable(id="msg_close_" + message.msgId onclick="ackMessage('" + message.msgId + "')") close
