mixin list-notes(notes)
    .section-hdg.section-hdg-2 Notes (#{notes.length})
    .layout-col.layout-width-1-1
      #note_add_button_container.addnote.layout-row.layout-justify-between.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
      ul.itemlist
        each note in notes
          - let targetLoc = "/notes/" + note.id + "/";
          //- li.layout-col.clickable(onclick="goTo('" + targetLoc + "')")
          li.layout-col
            .itemdetail.layout-col
              .label Name:
              .data #[a(href="/notes/" + note.id + "/") #{note.name}]
            - let description = note.description || null
            if description
              .itemdetail.layout-col
                .label Description:
                .data #{note.description}
