header
  nav(role=navigation).top
    #menu-title
      div#app-title
        a(href="/")= title
      label#menu-hamburger(for="show-menu") &#9776;
    input#show-menu(type="checkbox" role="button")
    ul.nav
      each item in menu
        li
          a(href= item.link)
            i.material-icons.menu-icon #{item.icon}
            | #{item.text}
