extends index.pug

block content
  section.notes
    article.main
      include notes-list
    article.secondary
      .hdg.hdg-1 Note List Actions
      #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
