extends index.pug

block aside
  aside.sidebar
    article.noteactions
      .hdg.hdg-2 Note Actions
      .actions.secondary
        input#submit.btn.normal.buttonconfirm(type="submit" value="Create" form="note-create")
        a.btn.cancel.buttoncancel(href="/notes/") Cancel

block content
  section.notes
    article.main
      .hdg.hdg-2 Create Note
      form#note-create.create-note-form(action="/notes/" method="post")
        input(id="user" type="hidden" name="userId" value=user.id)
        //- input(id="domain" type="hidden" name="domainId" value=user.currentDomain.id)
        .inputnotename.itemdetail
          label.label(for="name") Name/Title:
          input#name(type="text" name="name" placeholder="Name or Title" autofocus)
        .inputnotedescription.itemdetail
          label.label(for="description") Description:
          input#description(type="text" name="description" placeholder="Description of the note")
        .inputnotepublic.itemdetail
          label.label Visibility:
          .data
            input#public.hidden(type="checkbox" name="public" value="true")
            label.togglepublicfalse(for="public")
              i.material-icons.toggle.toggleoff toggle_off
            label.togglepublictrue(for="public")
              i.material-icons.toggle.toggleon toggle_on
        .inputnotedomain.itemdetail
          label.label Domain:
          .data
            +select-domains(domains,user.defaultDomainId)
        .inputnotebody.itemdetail
          label.label(for="body") Body:
          .data
            textarea#body(cols="30" rows="10" name="body")
