section
  - 
    if(user) {
      link = "notes";
    } else {
      link = "blog";
    }
  div Notes (#{notes.length})
  div
    ul.itemlist
      each note in notes
        - let targetLoc = "/" + link + "/" + note.id + "/";
        //- li.layout-col.clickable(onclick="goTo('" + targetLoc + "')")
        li.layout-col
          .itemdetail.layout-col
            .label Name:
            .data #[a(href="/" + link + "/" + note.id + "/") #{note.name}]
          - let description = note.description || null
          if description
            .itemdetail.layout-col
              .label Description:
              .data #{note.description}
    #note_add_button_container.addnote.layout-row.layout-justify-between.authUI(data-fetch="note_add" data-href="/actions/create/notes/")
