extends index.pug

block content
  .layout-width-6-8.layout-col
    .layout-width-1-1 Congratulations!
    .layout-width-1-1 Your registration is complete! When your registration is approved we'll email you.
    .layout-width-1-1 Check your email inbox for updates.