extends index.pug

block content
  .layout-width-6-8.layout-col
    .layout-width-1-1 Congratulations! #{user.fullname}!
    .layout-width-1-1 Your registration is complete! You're ready to
    .layout-width-1-1
      a(href="/login/") Go ahead and log-in!
