extends index.pug

//- block aside
  aside.sidebar
    .title Register Actions
    .nav
      .navitem One item
      .navitem Two 
      .navitem Three
    .actions.secondary
      input#submit.btn.normal(type="submit" value="Register" form="login-form")

block content
  section.home
    article#login
      form#login-form(action="/register/" method="post")
        .hdg.hdg-1 Sign Up
        div.forminput
          input#email(type="text" name="email" placeholder="email address" autofocus)
        div.forminput
          input#firstname(type="text" name="firstname" placeholder="first name")
        div.forminput
          input#lastname(type="text" name="lastname" placeholder="last name")
        div.forminput
          input#password(type="password" name="password" placeholder="passphrase")
        div.forminput
          input#passwordverify(type="password" name="passwordverify" placeholder="verify passphrase")
        //- div.layout-row.layout-justify-between
        div.forminput
          input#submit.btn.normal(type="submit" value="Go")

block scripts
  script(src='/js/bcrypt.min.js')
