extends index.pug

block head
  link(rel="stylesheet" media="all" href="/css/laminar.base.min.css")
  link(rel="stylesheet" media="all" href="/css/traviscolbert.min.css")

block content
  section.home
    article#login
      form#login-form(action="/register/" method="post")
        h1 Sign Up
        div.forminput
          input#email(type="text" name="email" placeholder="email address" autofocus)
        div.forminput
          input#firstname(type="text" name="firstname" placeholder="first name")
        div.forminput
          input#lastname(type="text" name="lastname" placeholder="last name")
        div.forminput
          input#password(type="password" name="password" placeholder="passphrase")
        div.forminput
          input#passwordverify(type="password" name="passwordverify" placeholder="verify passphrase")
        div.forminput
          input#submit.btn.normal(type="submit" value="Go")
