extends index.pug

block content
  section.registercomplete
    article.main
      h1 Registration Complete!
      div
        div Congratulations!
        div Your registration is complete! When your registration is approved we'll email you.
        div Check your email inbox for updates.