extends index.pug

block content
  .description.layout-col.layout-sd-width-8-8.layout-lg-width-8-8.layout-xl-width-8-8
    .infotext.section-hdg.section-hdg-3 Registration Complete!
    .infotext Thanks for registering!
    .infotext You will receive further information on the status of your registration through the valid email address you entered in the registration form. 
    .infotext Once your registration is approved we will notify you.
    .infotext
      a(href="/") Return Home
