extends index.pug

block aside
  aside.sidebar
    h2 Role Actions
    .nav
      .navitem One item
      .navitem Two 
      .navitem Three
    .actions.secondary
      input#submit.btn.normal.buttonconfirm(type="submit" value="Confirm" form="role-create")
      a.btn.cancel.buttoncancel(href="/roles/") Cancel
      //- #note_add_button_container.addnote.authUI(data-fetch="note_add" data-href="/actions/create/notes/")

block content
  section
    h2 Create Role in #{domain.name}
    .item-listing
      form#role-create(action="/roles/" method="post")
        input(id="domainid" type="hidden" name="domainid" value=domain.id)
        .inputrolename
          input#name(type="text" name="name" placeholder="name of role" autofocus)
        .inputeroledescription
          input#description(type="text" name="description" placeholder="description of role")
        .inputrolecapabilities
          input#capabilities(type="text" name="capabilities" placeholder="capabilities object")
        //- .submit.itemdetail.layout-col
        //-   .label Actions:
        //-   .data
        //-     input#submit.btn.normal.buttonconfirm(type="submit" value="Confirm")
        //-     a.btn.cancel.buttoncancel(href="/roles/") Cancel

