extends index.pug

block aside
  aside.sidebar
    h2 Role Actions
    .nav
      .navitem One item
      .navitem Two 
      .navitem Three
    .actions.secondary
      label.label Actions:
      .data.layout-row
        input.btn.primary.buttonconfirm(type="submit" id="submit" value="Confirm" form="roles-edit")
        a.btn.cancel(href="/roles/" + role.id) Cancel

block content
  section.layout-width-sd.layout-col
    h2 Edit Role
    .item-listing.layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
      form#roles-edit(action="/roles/" + role.id + "/" method="post")
        input(id="id" type="hidden" name="id" value=role.id)
        .itemdetail.layout-col
          label.label(for="rolename") Name:
          #rolename.data 
            input(id="name" type="text" name="name" value=role.name)
        .itemdetail.layout-col
          label.label(for="roledescription") Description:
          #roledescription.data
            input(id="description" type="text" name="description" value=role.description)
        .itemdetail.layout-col
          label.label(for="rolecapabilties") Capabilities:
          #rolecapabilties.data
            - let cap = JSON.stringify(role.capabilities);
            input(id="capabilities" type="text" name="capabilities" value=cap)
