extends index.pug

block content
  h2 User #{user.fullname}
  .layout-col.layout-width-1-1.layout-sd-width-5-8.layout-lg-width-5-8.layout-xl-width-4-8
    ul.itemlist
      each role in user.roles
        //- - let targetLoc = "/users/" + item.id;
        //- li.layout-col.clickable(onclick="goTo('" + targetLoc + "')")
        li.layout-col
          .itemdetail.layout-col
            .label Role:
            .data #{role.name}
          each domain in role.domains
            .itemdetail.layout-col
              .label Domain:
              .data #{domain.name}
    #user_add_button_container.adduser.layout-row.layout-justify-between.authUI(data-fetch="user_add" data-href="/users/add")
