extends index.pug

block content
  .layout-width-6-8.layout-col
    .layout-width-1-1 Congratulations! #{user.fullname}!
    .layout-width-1-1 You've been verified! Time to get started!
    .layout-width-1-1
      a(href="/login") Log In!
