extends index.pug

block content
  section.verificationcomplete
    article.main
      h2 Congratulations #{user.firstname}
      div
        div
          div You've been verified. Time to get started!
          div
            a.btn.primary(href="/login/") Log In!
