// $topheight: 40px;
$sidebarwidth: 30%;
// $mainwidth: 70%;
// $mainmaxwidthpx: 1024px;
// $sidebarmaxwidthpx: 307px;
$titlefont: 'KoHo', Arial, Helvetica, sans-serif;
$generalfont: 'Rajdhani', Arial, Helvetica, sans-serif;
$detailfont: 'Titillium Web', sans-serif;

$textcolor: rgb(77, 75, 85);
$textshadow: 0 2px 3px;
$textshadowcolor: rgb(77, 75, 85, 0.3);
$highlighttextcolor: rgba(79,67,125,1);
$secondaryhighlighttextcolor: rgba(79,67,125,0.5);
$linktextcolor: rgb(48, 191, 149);
$minortextcolor: rgb(162, 160, 173);
$codetextcolor: rgb(205, 204, 211);
$codebackgroundcolor: $textcolor; 

$primarybuttoncolor: rgba(121, 241, 205, 1);

// $bordercolor: rgb(77, 75, 85);
$bordercolor: rgba(235,233,243,1);
$borderradius: 4px;
$navbackgroundcolor: rgba(255,255,255,0.8);
$sidebarbackgroundcolor: rgba(0,0,0,0.01);

$primarycolor: rgba(77,157,224,1);
// $secondarycolor: rgba(35,100,170,1);
$secondarycolor: rgb(187, 54, 240);
$successcolor: rgba(121, 241, 205, 1);
$warncolor: rgba(250,169,22,1);
$dangercolor: rgba(225,85,84,1);
$disabledcolor: rgba(132,130,143);

.flexy {
  display: flex;
}

.flexy-column {
  @extend .flexy;
  flex-direction: column;
}

.flexy-row {
  @extend .flexy;
  flex-direction: row;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.sticky-top {
  position: sticky;
  top: 0;
}

.sticky-middle {
  position: sticky;
  top: 30vh;
}

.semi-transparent {
  // background: rgba(253,253,255,0.8);
  // background: rgba(250, 248, 251, 0.9);
}

.shadowed {
  // box-shadow: 0 3px 8px rgba(0,0,5,0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 5, 0.1)
}

.text-soften {
  text-shadow: 0 0 6px rgba(250,250,250,7), $textshadow $textshadowcolor;
}

.text-shadow {
  text-shadow: $textshadow $textshadowcolor;
}

.mini-shadowed {
  box-shadow: 0 3px 4px rgba(0,0,5,0.2);
}

.nowrap,
.nobreak {
  white-space: nowrap;
}

.buttonstyle {
  @extend .semi-transparent;
  @extend .mini-shadowed;
  border-radius: $borderradius;
  padding: 8px;
  margin-bottom: 8px;
}

div {
  display: flex;
}

html {
  scroll-behavior:smooth;
}

html,
body {
  @extend .flexy-column;
  margin: 0;
  height: 100vh;
  width: 100%;
  font-size: 16px;
  font-family: $generalfont;
  color: $textcolor;
  background-color: rgb(255,255,255);
  // background-image: linear-gradient(to bottom right, rgb(240,250,250), rgb(210,215,215));
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: top;
  @media only screen and (max-width: 374px) {
    font-size: 14px;
  }
}

body {
  align-items: stretch;
}

body > * {
  flex: 1 0 auto;
}

header, footer {
  @extend .flexy-column;
  width: 100%;
  z-index: 99;
  align-items: center;
  nav {
    @extend .flexy-row;
  }
}

a {
  color: $textcolor;
}

nav {
  position: fixed;
  width: 100%;
  max-width: 1024px;
  margin: 0;
  justify-content: space-between;
  background: $navbackgroundcolor;
  a {
    text-decoration: none;
    color: inherit;
  }
  #menu-title {
    display: flex;
    flex-direction: row;
    font-family: $titlefont;
    font-size: 2.7em;
    font-weight: 700;
    color: $highlighttextcolor;
    text-shadow:
      0 3px 5px $textshadowcolor,
      2px -1px 1px $secondarycolor,
      -2px 1px 1px $successcolor
    ;
    @media only screen and (min-width: 601px) {
      flex: 1 0 auto;
    }
    #app-title {
      padding-bottom: 0.08em;
    }
  }
  .navcenter {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
  }
  .navlinks {
    display: flex;
    width: $sidebarwidth;
    justify-content: flex-end;
    font-weight: 600;
    ul {
      @extend .flexy-row;
      justify-content: flex-end;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        flex-direction: row;
        margin: 0 8px 0;
        a {
          flex-direction: row;
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .navleft {
    flex-direction: column;
  }
  > div:first-child {
    padding-left: 8px;
    @media only screen and (min-width: 601px) {
      padding-left: 40px;
    }
  }
  > div:last-child {
    padding-right: 8px;
    @media only screen and (min-width: 601px) {
      padding-right: 40px;
    }
  }
}

header {
  @extend .fixed-top;
  @extend .semi-transparent;
  nav {
    @extend .text-shadow;
  }
}

footer {
  @extend .fixed-bottom;
  @extend .semi-transparent;
  justify-content: flex-end;
}

main {
  @extend .flexy-row;
  align-self: center;
  width: 100%;
  @media only screen and (min-width: 1024px) {
    width: 1024px;
  }
  section {
    @extend .flexy-column;
    order: 1;
    flex: 1 0 auto;
    article {
      margin-bottom: 48px;
    }
    article:last-child {
      margin-bottom: 0;
    }
  }
  section:not(.home) {
    padding-top: 53px;
    padding-bottom: 48px;
    width: 60%;
  }
  section.note {
    @extend .text-shadow;
    font-size: 1.3em;
    font-weight: 600;

  }
  section.secondary, section.messages {
    @extend .flexy-column;
    order: 3;
    width: 100%;
  }
}

aside {
  @extend .flexy-column;
  width: $sidebarwidth;
  min-width: 300px;
  z-index: 50;
  order: 2;
  margin-top: 53px;
  justify-content: flex-end;
  @media only screen and (min-width: 601px) {
    justify-content: flex-start;
    margin-right: 0;
    z-index: 50;
  }
  .folder {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 70vh;
  }
}

aside.sidebar {
  display: none;
  visibility: hidden;
  @media only screen and (min-width: 601px) {
    display: flex;
    visibility: visible;  
    background: $sidebarbackgroundcolor;
    overflow-y: auto;
  }
}

aside > *:first-child {
  top: 0;
}

aside > *:last-child {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

a.a-dotted {
  text-shadow: none;
}

section.home,
section.login {
  background-image: url(/img/logo.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom;
  @media only screen and (min-width: 601px) {
    background-image: url(/img/logo.png);
    background-position-x: 90%;
    background-position-y: center;
    background-size: 47%;
  }
}

article {
  @extend .flexy-column;
}

article#articles {
  .hdg-2 {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
  } 
}
article#about,
article#login {
  align-items: stretch;
  height: 100vh;
  justify-content: flex-start;
  font-size: 1.6em;
  text-shadow: 
    $textshadow $textshadowcolor
  ;
  @media only screen and (min-width: 601px) {
    justify-content: center;
  }
  .body {
    @media only screen and (max-width: 600px) {
      margin-top: 57px;
    }
  }

  .hdg-2 {
    @media only screen and (max-width: 600px) {
      visibility: hidden;
    }
  }
  .subhead {
    margin-top: 40vh;
    @media only screen and (min-width: 601px) {
      margin-top: 0;    
      width: 35%;
    }  
  }
  #login-form {
    @extend .flexy-column;
    align-items: stretch;
    padding-bottom: 56px;
    @media only screen and (min-width: 601px) {
      width: 40%;
    }
    input {
      font-size: 1em;
      width: 100%;
      padding: 4px 0.25em;
    }
    input[type="text"],
    input[type="password"] {
      border: 1px solid $bordercolor;
      border-radius: $borderradius;
      background: $sidebarbackgroundcolor;
    }
  }
}

.badge {
  @extend .text-shadow;
  color: $highlighttextcolor;
}

.forminput {
  @extend .flexy-row;
  margin: 8px 0;
}

article#about > div {
  margin-bottom: 56px;
  // color: rgb(250,250,250);
  font-weight: 600;
  font-size: 1em;
  @media only screen and (min-width: 601px) {
    // color: rgb(250,250,250);
    width: 45%;
    font-size: 1.2em;
  }
  @media only screen and (min-width: 629px) {
    font-size: 1.3em;
  }
  @media only screen and (min-width: 780px) {
    font-size: 1.5em;
  }
  div {
    @extend .flexy-row;
    flex-wrap: wrap;
    margin-bottom: 0.25em;
    @media only screen and (max-width: 600px) {
      justify-content: center;
      text-align: center;
    }
  }
  .main-buttons {
    margin-top: 0.5em;
  }
}

article#cta,
article#skills {
  @extend .flexy-row;
  justify-content: space-between;
  font-size: 1.5em;
}

article.main {
  .body {
    font-size: 1.3em;
  }
  .articletitle {
    padding: 0.25em 0;
  }
  .articlemetadata {
    border-top: 1px solid $bordercolor;
    border-bottom: 1px solid $bordercolor;
  }
}

#articlelist .body {
  @extend .flexy-row;
  flex-wrap: wrap;
}

.label {
  font-size: 0.8em;
  font-weight: normal;
  color: $minortextcolor;
  font-family: $detailfont;
  font-style: italic;
}
.articletitle {
  // font-size: 1.4em;
  font-family: $titlefont;
  font-weight: bold;
  @extend .text-shadow;
  color: $linktextcolor;
}
.articledescription {
  font-size: 1.1em;
  // font-style: italic;
  padding: .2em 0;
  @extend .text-shadow;
}
.articleblurb {
  flex-direction: column;
  font-size: 0.75em;
  @extend .text-shadow;
  font-family: 'Titillium Web', sans-serif;
}
.articlemetadata {
  @extend .flexy-row;
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  .user {
    // font-weight: bold;
  }
  * {
    margin-right: 1em;
  }
}
.articlemeta {
  flex-direction: column;
  font-size: 0.6em;
}
.articledate {
  font-size: 0.7em;
}
.articlebody {
  flex-direction: column;
  font-size: 1em;
  font-family: 'Titillium Web', sans-serif;
  @extend .text-shadow;
  .centered,
  figure {
    align-items: center;
    justify-content: center;
    text-align: center;
    figcaption {
      font-size: 0.8em;
      font-weight: lighter;
      font-style: italic;
    }
  }
  img {
    width: 100%;
    height: auto;
    align-items: center;
    padding: 8px;
    background: #fafafa;
    border-radius: $borderradius;
    @extend .shadowed;
  }
  code {
    display: block;
    width: 100%;
    border-radius: 4px;
    color: $codetextcolor;
    background: $codebackgroundcolor;
    padding: 1em;
    font-size: 0.8em;
    overflow-x: scroll;
    @extend .shadowed;
  }
  h1 {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.0em
  }
  p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }
}

article > * {
  margin: 0 16px;
  flex-direction: column;
  @media only screen and (min-width: 601px) {
    margin: 0 40px;
  }
}

article > .subhead {
  @extend .flexy-column;
  height: fit-content;
}

.item-listing {
  @extend .flexy-column;
  > div:not(:last-child) {
    border-bottom: 1px solid $bordercolor;
  }
}

.subitem-listing {
  @extend .flexy-column;
  padding: 8px 0;
  margin-bottom: 4px;
  .data {
    font-weight: bold;
  }
  .subdata {
    font-size: 0.9em;
  }
}

.item-container {
  @extend .flexy-column;
  align-items: stretch;
}

.itemhead {
  @extend .flexy-row;
  align-items: center;
  font-size: 1.1em;
  font-weight: bold;
}

.itemdetail {
  @extend .flexy-column;
  margin-bottom: 4px;
}

.itemdetail:first-child {
  .label {
    display: none;
    visibility: hidden;
  }
  .data {
    font-size: 1.1em;
    font-weight: bold;
  }
}

.itemdetail:not(:first-child) {
  .label {
    // text-decoration: underline;
    color: $minortextcolor;
    font-family: $detailfont;
    font-style: italic;
  }
}

.itembanner {
  @extend .flexy-column;
}

.item {
  @extend .flexy-column;
  margin-bottom: 1em;
}

.item.primary {
  font-size: 1.8em;
  border-bottom: 1px dotted $bordercolor;
  padding: 0.5em 0;
}

.item.secondary {
  font-size: 1.25em;
  border-bottom: 1px dotted $bordercolor;
  padding-bottom: 0.5em;
  @media only screen and (min-width: 601px) {
    width: 50%;
  }
}

.item.tertiary {
  width: 100%;
}

.mediaitem {
  @extend .flexy-row;
  width: 100%;
}

.thumbnail {
  margin: 0 8px 0 0;
  width: 100px;
  align-items: center;
}

.thumbnail img {
  width: 100%;
  height: auto;
  @extend .shadowed;
}

.mediaitem > .itemdetails {
  display: flex;
  flex-direction: column;
}

.preview {
  height: auto;
  width: 100%;
  // width: auto;
  // max-height: 100%;
}

.clickable:hover {
  cursor: pointer;
}

.hdg {
  font-family: $titlefont;
}

.hdg-1 {
  font-size: 1.9em;
  font-weight: bold;
  margin-bottom: 8px;
  color: $highlighttextcolor;
  text-shadow:
    $textshadow $textshadowcolor,
    2px -1px 1px $secondarycolor,
    -2px 1px 1px $successcolor
  ;
}

.hdg-2 {
  @extend .text-shadow;
  @extend .nobreak;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.25em;
  color: $secondaryhighlighttextcolor;
  text-shadow:
    $textshadow $textshadowcolor,
    1px -1px 1px $secondarycolor,
    -1px 1px 1px $successcolor
  ;
}

.hdg-3 {
  @extend .text-shadow;
  color: $secondaryhighlighttextcolor;
  font-size: 1.5em;
  margin-bottom: 8px;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.data > input,
.data > textarea {
  width: 100%;
}

.pill {
  background: rgba(0,0,0,0.2);
  padding: 0.25em;
  padding-right: 1em;
  border-radius: 1em;
  align-items: center;
}

.pilllabel {
  margin-left: 0.5em;
}

#usercontrols {
  display: flex;
  flex-direction: column;
}

.authUI {
  flex-direction: column;
  align-items: stretch;
}

.btn,
.button {
  @extend .flexy-row;
  @extend .nobreak;
  align-items: center;
  justify-content: center;
  border-radius: $borderradius;
  padding: 2px 8px;
  border: 1px solid $bordercolor;
  background-color: $primarybuttoncolor;
  font-family: $generalfont;
  font-weight: 100;
  font-size: inherit;
  text-decoration: none;
  text-align: center;
  margin-bottom: 8px;
  @extend .shadowed;
  .empty {
    background: none;
    @extend .shadowed;
  }
}

.main-buttons {
  .button {
    width: 35%;
  }
  .button:not(:first-child) {
    margin-left: 8px;
  }
}

.app-features {
  display: flex;
  flex-direction: row;
  align-items: center;
  @extend .buttonstyle;
  margin-top: 0;
}

.app-features:last-child {
  margin-bottom: 0;
}

.read-more {
  font-style: italic;
  font-weight: 100;
  color: $linktextcolor;
}

.hidden {
  visibility: hidden;
  display: none;
}

input#public:checked ~ .togglepublicfalse {
  display: none;
}

input#public:not(:checked) ~ .togglepublicfalse {
  display: flex;
}

input#public:checked ~ .togglepublictrue {
  display: flex;
}

input#public:not(:checked) ~ .togglepublictrue {
  display: none;
}

input#verified:checked ~ .toggleverifiedfalse {
  display: none;
}

input#verified:not(:checked) ~ .toggleverifiedfalse {
  display: flex;
}

input#verified:checked ~ .toggleverifiedtrue {
  display: flex;
}

input#verified:not(:checked) ~ .toggleverifiedtrue {
  display: none;
}

input#disabled:checked ~ .toggledisabledfalse {
  display: none;
}

input#disabled:not(:checked) ~ .toggledisabledfalse {
  display: flex;
}

input#disabled:checked ~ .toggledisabledtrue {
  display: flex;
}

input#disabled:not(:checked) ~ .toggledisabledtrue {
  display: none;
}

/* Expandoswitch CSS Content-hider */
i.large {
  font-size: 3em;
}

.content-titlebar {
  @extend .flexy-row;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  flex: 1 0 auto;
  align-items: center;
  justify-content: space-between;
  // border-bottom: 1px solid #756396;
  // border-bottom: 1px solid rgb(73, 60, 53);
  margin: -16px 0 0 -16px;
  padding: 4px 8px;
  background-color: rgba(0,0,0,0.1);
  font-weight: 900;
  font-size: 1.5em;
}

// .wordswap {
//   font-weight: bold;
//   color: rgb(117, 99, 150);
//   -moz-transition: .5s;
//   -webkit-transition: .5s;
//   transition: .5s;
// }

.expandoswitch ~ .content {
  // display: none;
  visibility: hidden;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
  height: 0;
  width: 0;
  min-width: 0;
  overflow-x: hidden;
}
.expandoswitch {
  display: none;
}
.expandoswitch:checked ~ .content {
  display: flex;
  visibility: visible;
  flex-direction: column;
  margin-top: -80px;
  padding: 16px;
  padding-right: 0;
  // width: 100%;
  min-width: 300px;
  height: 60vh;
  overflow: hidden;
  border-radius: 4px;
  background: #fafafa;
  // @extend .semi-transparent;
  @media only screen and (min-width: 768px) {
    width: 100%;
  }
}
.expandoswitch:checked ~ .expandolabel > .iconlabel > i {
  transform: rotate(90deg);
}
.expandolabel {
  display: inline-block;
  // color: white;
  // color: rgb(73, 60, 53);
  color: #fafafa;
  text-shadow: 0 3px 5px rgba(10,0,10,0.3);
  text-align: center;
  font-size: 1.5em;
}
.expandolabel:active {
  text-shadow: none;
  color: #BB4430;
}

.expandolabel > .iconlabel > i {
  padding: 0 10px;
  /*font-size: 2em;*/
  display: inline-block;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
}