/**
 * Eye-candy (shadows)
 */
.textshadow {
  text-shadow: 0px 2px 3px rgba(61, 59, 48, 0.25);
}
.boxshadow {
  box-shadow: 0px 2px 6px rgba(61, 59, 48, 0.25);
}
/**
 * Transitions
 */
.transition-all {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
/**
 * Z-Levels
 */
.l-z-top,
.l-z-100 {
  z-index: 100;
}
.l-z-75 {
  z-index: 75;
}
.l-z-center,
.l-z-50 {
  z-index: 50;
}
.l-z-25 {
  z-index: 25;
}
.l-z-bottom,
.layout-z-0 {
  z-index: 0;
}
html,
body {
  min-height: 100%;
  width: 100%;
  display: flex;
  color: #3d3b30;
  background-color: #fcfcfc;
  box-sizing: border-box;
  margin: 0;
  flex-direction: column;
}
header,
nav,
banner,
article,
section,
sidebar,
aside,
footer {
  box-sizing: border-box;
  display: flex;
  /* flex: 0; */
  flex-grow: 0;
  flex-shrink: 0;
  /* flex-basis: 0%; */
}
section {
  flex-direction: row;
}
section.login,
section.register {
  justify-content: center;
}

section.home {
  flex-direction: column;
}
article {
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
}
div {
  box-sizing: border-box;
  display: flex;
}
header,
footer {
  align-items: baseline;
}
.main {
  width: 75%;
}
.secondary {
  width: 25%;
}
.item-listing {
  flex-direction: column;
}
.item {
  flex-direction: column;
}
.description {
  flex-direction: column;
}