{
  "appName":"Laminar",
  "lang":"en",
  "siteDescription":"Behold: This is Laminar. Prepare to be awesome!",
  "host":"0.0.0.0",
  "addr":"www.my-website.com",
  "redirectFrom":"my-website.com",
  "compression":true,
  "port":443,
  "keyFile":"tls/server.key",
  "certFile":"tls/server.crt",
  "smtpServer":"my.mail.server.net",
  "smtpPort":"366",
  "smtpSecurity":false,
  "smtpFromName":"Laminar",
  "smtpFromAddr":"us@yourdomain.net",
  "smtpDomain":"yourdomain.net",
  "homeView":"home-default",
  "homeModule":false,
  "homeDefaultTitle":"Home Page for this Awesome App!",
  "homeDefaultKeywords":"seo is great, seo, seo words, keywords for seo",
  "404Page":"404-default",
  "loginPage":"/login",
  "sessionTimeoutHours":4,
  "logLevel":6,
  "invitationTimeoutHours":72,
  "viewsDir":"views",
  "navDir":"navigation",
  "staticDir":"public",
  "modelsDir":"models",
  "controllersDir":"controllers",
  "routesDir":"routes",
  "modulesDir":"modules",
  "elementsDir":"elements",
  "uploadsDir":"files",
  "prehead":false,
  "makeThumbnails":true,
  "thumbnailsDir":"thumbs",
  "favicon":"public/img/favicon.ico",
  "robots":"public/robots.txt",
  "sitemap":"public/sitemap.xml",
  "staticOptions":{
    "maxAge":"1d"
  },
  "activeDbConnection":"sqlite",
  "dbConnection":{
    "sqlite":{
      "host":"localhost",
      "user":"laminar",
      "storage":"db/laminar.db",
      "logging":false
    },
    "mysql":{
      "host":"127.0.0.1",
      "user":"laminar",
      "database":"laminar",
      "charset":"utf8",
      "logging":true
    }
  }
}
